
body {
    width: 960px;
    margin: 0 auto;
    background-color: #47504d;
    font-size: 20px;
    font-family: Times, serif;
    color: #f7f311;
  }

.header {

    padding: 20px 0 0 0;
}

header[role="banner"] {
    margin-top: 20px;
    height: 135px;
    border: solid 10px rgb(255, 0, 0);
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
    color: #d54bff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    margin: 5px 0 0 0;
  }

  nav {
    margin: 0 auto;
    width: 800px;
  }
  
  nav ul {
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 18px;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    height: 20px;
    width: 95px;
    margin: 0 55px 0 5px;
    white-space: nowrap;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 20px;
    background: #b2ff9b;
    color: #3a3dcc;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    border: solid 4px white;
  }

  aside h3 {
    color: #970047;
    font-size: 24px;
    line-height: 14px;
    margin: 20px 0px 0px 0px;
    padding: 10px 20px;
  }
  
  aside p {
    color: rgb(255, 5, 5);
    line-height: 22px;
    padding: 0 20px;
    border: solid 10px rgb(255, 0, 0);
  }

  .grid_4 {
    overflow: auto;
}

.grid_6 {
    overflow: auto;
}
