body { font-family: Georgia; color: #191919; background-color: orange;}

h1 { font-family: Helvetica; color: #191919; font-size:34; }

<p id="spacecow.jpeg">.</p>

.spacecow.jpeg {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 400px;
    padding-left: 80px;
  }