body { font-family: Georgia; color: #191919; background-color: orange;}

h1 { font-family: Helvetica; color: #191919; font-size:34; }

h1.headline {
    color: purple;
}

#warmair {
    background-color: red;
    width: 180px;
    height: 80px;
}

#text {
    background-color: blue;
    width: 180px;
    height: 100px;
}

.spacecow {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

.Riding_COw {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }  

.MOO {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }  

.Space-Cow-768x514 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }  

  #borderThreeSteps {
    border-color: green;
    border-style: dotted;
    border-width: 5px;
    margin: 20px;
  }


#borderOneStep {
  border: double red 5px;
}

.whitebox {
    background-color: white;
    width: 180px;
    height: 80px;
    margin: 20px;
  }

  span.MOO {
    font-size: 200%;
    color: orange;
    background-color: black;
    font-family: times;
}
  
img Cat10.jpg {
  float: right;
}

#relativeTop {
  position: relative;
  top: 25px;
}

#relativeLeft {
  position: relative;
  left: 40px;
}
