body { font-family: Georgia; color: #C0C0C0; background-color: #FF0000;}

h1 { font-family: Helvetica; color: #191919; font-size:34; }
p {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: 50px dotted;
    border-left-style: solid;
    border-width: 5px;
}